@import 'vars';
@import 'extends';

.page__block4 {
   margin-bottom: 25px;

   .bubble {
      display: none;
   }

   .arrow1-1440,
   .arrow2-1440,
   .arrow3-1440,
   .arrow4-1440,
   .cosmonaut-left,
   .cosmonaut-right,
   .block4__android,
   .cosmonaut-left-light,
   .cosmonaut-right-light {
      display: none;
   }
}

.block4__billet {
   @extend %billet;
   margin-bottom: 30px;
}

.block4__title {
   font-family: $fontTitles;
   line-height: 120%;
   margin-bottom: 10px;
   font-size: 24px;
}

.block4__slider {
   .slick-list {
      overflow: hidden;
   }

   .slick-track {
      display: flex;
   }

   .slick-slide {
      flex: 0 0 288px;
   }
}

.block4__slider-body {
   margin: 0 16px;
}

.block4__slider-round {
   height: 288px;
   padding-top: 80px;
   border-radius: 50%;
   background: linear-gradient(147deg, #14063d 50%, #320770 90%, rgba(128, 11, 245, .4));
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .arrow-down,
   .arrow-up {
      display: none;
   }
}

.block4__slider-round_gradient-bg {
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
   animation: gradient 4s ease-in-out infinite;
   background-size: 400% 400%;
   transition: all 0.5s ease-in-out;

   &:hover {
      background-blend-mode: multiply;
      background-color: rgba(0, 0, 0, 0.264);
   }
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}

.block4__slider-text {
   font-family: $fontText;
   font-size: 18px;
   line-height: 120%;
   color: $mainColor;
   max-width: 80%;
}

.block4__slider-number {
   font-size: 80px;
   line-height: 100%;
   font-family: $fontTitles;
   color: #14063D;
   align-self: center;
   position: relative;
   bottom: -12px;
}

.block4__slider-dots {
   margin-top: 40px;
   @extend %slickDots;
}

@media (min-width: 630px) {
   .page__block4 {
      margin-bottom: 50px;
      position: relative;
   }

   .block4__slider-dots {
      display: none;
   }

   .block4__slider {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   .block4__slider-body {
      flex: 0 0 336px;
   }

   .block4__slider-round {
      height: 336px;
      position: relative;

      .arrow-up {
         display: block;
         position: absolute;
         bottom: 0;
         left: 307px;
      }

      .arrow-down {
         display: block;
         position: absolute;
         top: 0;
         right: -50px;
      }
   }

   .block4__title {
      font-size: 32px;
   }
}

@media (min-width: 1200px) {
   .block4__slider-round {

      .arrow-down,
      .arrow-up {
         display: none;
      }
   }

   .page__block4 {
      position: relative;

      .block4__android {
         position: absolute;
         left: 35%;
         bottom: 0;
         display: flex;
         align-items: center;

         .android__icon {
            width: 48px;
            height: 48px;
            background: #800BF5;
            border-radius: 50%;
            margin-right: 16px;
            line-height: 46px;
            text-align: center;
         }

         .android__text {
            font-size: 20px;
            line-height: 120%;
            font-family: $fontText;
            width: 160px;
         }
      }

      .cosmonaut-left {
         width: 300px;
         top: 33%;
         left: 6%;
      }

      .cosmonaut-right {
         width: 246px;
         bottom: -1%;
         right: 4%;
      }

      .arrow1-1440,
      .arrow2-1440,
      .arrow3-1440,
      .arrow4-1440,
      .cosmonaut-left,
      .cosmonaut-right,
      .cosmonaut-left-light,
      .cosmonaut-right-light {
         display: block;
         position: absolute;
      }

      .cosmonaut-left-light {
         width: 297.86px;
         height: 174.79px;
         border-radius: 50%;
         z-index: -2;
         top: 39%;
         left: 6%;
         background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
         filter: blur(100px);
         transform: rotate(24.94deg);
      }

      .cosmonaut-right-light {
         z-index: -3;
         width: 1440px;
         height: 554px;
         border-radius: 50%;
         background: #800BF5;
         filter: blur(300px);
         bottom: -15%;
         right: -54%;
      }

      .arrow1-1440 {
         right: 38%;
         top: 29%;
      }

      .arrow2-1440 {
         z-index: 5;
         left: 28%;
         top: 48%;
         width: 200px;
      }

      .arrow3-1440 {
         bottom: 24%;
         right: 41%;
         width: 193px;
      }

      .arrow4-1440 {
         left: 45%;
         bottom: 5%;
      }
   }

   .block4__title {
      font-size: 40px;
      max-width: 605px;
      margin-left: 190px;
   }

   .block4__row {
      display: flex;
      align-items: flex-start;
   }

   .block4__slider-body {
      >.arrow-up {
         display: none;
      }

      >.arrow-down {
         display: none;
      }
   }

   .page__block4 {
      position: relative;
      margin-bottom: 110px;

      .bubble {
         display: block;
         width: 220px;
         position: absolute;
         z-index: 5;
         top: 77px;
         right: 0;
      }
   }

   .block4__slider {
      position: relative;
      height: 1356px;

      #block1 {
         position: absolute;
         width: 336px;
         left: 328px;
         top: 0;
      }

      #block2 {
         position: absolute;
         width: 336px;
         right: 286px;
         top: 424px;
      }

      #block3 {
         position: absolute;
         width: 336px;
         left: 172px;
         top: 715px;
      }

      #block4 {
         position: absolute;
         width: 280px;
         right: 347px;
         bottom: 34px;

         .block4__slider-round {
            height: 280px;
         }
      }
   }
}