.container{
	&.block2-slider{
		margin-bottom: 25px;
		overflow-x: scroll;
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		
		&::-webkit-scrollbar{display: none;}

		>.slider{	
			flex: 0 0 auto;			
			width: 328px;
			
			&:not(:last-child){margin-right: 20px;}

			>.main-img{
				margin-bottom: 10px;

				>img{width: 100%;}
			}

			>.title{
				margin-bottom: 8px;

				>p{
					font-family: $fontText;
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 120%;
					font-feature-settings: 'ss05' on;
					color: $mainColor;
				}
			}

			>.some-txt{
				>p{
					font-family: $fontText;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 120%;
					font-feature-settings: 'ss05' on;
					color: $mainColor;
					opacity: 0.4;
				}
			}
		}
	}
}
@media screen and (min-width: 630px){
	.container{
		&.block2-slider{
			margin-bottom: 50px;
		}
	}
}

@media screen and (min-width: 1200px){
	.container{
		&.block2-slider{
			>.slider{
				width: 23%;
			}
		}
	}
}