@import 'extends';

.choise-block{
	position: relative;
	display: block;

	>.block5__ellipse-blur-1{
		position: absolute;
		width: 357px;
		height: 250px;
		right: -158px;
		top: 23%;
		background: #800BF5;
		filter: blur(150px);
		z-index: -3;
	}

	.block5__ellipse-blur-2 {
		display: none;
	}

	&>p:not(:first-of-type){text-align: center;}
	&>p:first-of-type{margin-bottom: 20px;}

	&>.choise-btn:first-of-type, 
	&>p:last-of-type{margin-bottom: 10px;}

	>p{
		font-family: $fontText;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		font-feature-settings: 'ss05' on;
		color: $mainColor;
	}

	>.choise-btn{
		width: 100%;

		>button{
			@extend %buttonMainStyle;
			display: flex;
			align-items: center;
			justify-content: center;
			width: inherit!important;
			
			>span, img{
				position: relative;
				z-index: 2;
			}

			>span{
				font-family: $fontText;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				font-feature-settings: 'ss05' on;
				color: $mainColor;
			}

			>img{margin-right: 10px;}
		}
	}
}

@media screen and (min-width: 630px){
	.choise-block{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		>.block5__ellipse-blur-1{
			left: 31%;
			top: 45%;
		}
		
		.block5__ellipse-blur-2 {
			display: block;
			position: absolute;
			width: 454px;
			height: 318px;
			left: -302px;
			top: 10%;
			background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
			filter: blur(200px);
			z-index: -3;
		}
	
		&>p:first-of-type{
			margin-bottom: 30px;
			width: 100%;
		}
		
		>p{font-size: 28px;}
		
		&>.choise-btn:first-of-type, 
		&>p:last-of-type{margin-bottom: 0;}

		>.choise-btn{
			width: 40%;
			>button{
				width: 100%!important;
				&::before{width: 100%!important;}
			}
		}
	}
}

@media screen and (min-width: 1100px){
	.choise-block{display: none;}
}