@import 'vars';
@import 'extends';

.block9 {
   margin-bottom: 25px;
   position: relative;
   overflow: hidden;
}

.block9__billet {
   @extend %billet;
   margin-bottom: 10px;
}


//---SLIDER-TOP--------------------------------------------------------------------------------------------
.block9__slider-top {
   margin-bottom: 35px;
   display: flex;

   &.slick-slider {
      margin-left: 5%;
   }
}

.slider-top__body {
   position: relative;
   margin-right: 16px;
}

//------------------------------------------------------------------------------------------------

.slider-top__title {
   font-family: $fontTitles;
   font-size: 24px;
   line-height: 120%;
   margin-bottom: 16px;

   span {
      color: #49CBF4;
   }
}

.slider-top__text {
   font-size: 20px;
   line-height: 120%;
   opacity: 0.4;
   font-family: $fontText;
   margin-bottom: 40px;
   max-width: 312px
}

.slider-top__button {
   @extend %buttonMainStyle;
   font-family: $fontText;
   margin-bottom: 15px;
   width: 170px;

   span {
      position: relative;
      z-index: 2;
   }
}

.slider-top__number {
   font-family: $fontTitles;
   font-size: 80px;
   line-height: 100%;
   color: rgba(255, 255, 255, 0.2);
   position: absolute;
   bottom: 0;
   right: 0;
}

//---SLIDER-BOTTOM--------------------------------------------------------------------------------------------
.block9__slider-bottom {
   .slick-list {
      padding-left: 5%;
   }

   .slick-track {
      display: flex;
   }

   .slick-slide {
      flex: 0 1 auto;

      &:not(:last-child) {
         margin-right: 16px;
      }

      img {
         max-width: 595px;
      }
   }
}

//-----------------------------------------------------------------------------------------------

.slider-bottom__img {
   img {
      width: 100%;
   }
}

.block9__slider-dots {
   @extend %slickDots;
   margin-top: 16px;
}

.block9__ellipse-360 {
   width: 395px;
   height: 290px;
   border-radius: 50%;
   background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
   filter: blur(150px);
   position: absolute;
   right: -157px;
   bottom: -95px;
   z-index: -3;
}

.block9__ellipse-630-left,
.block9__ellipse-630-right,
.block9__ellipse-1440-left,
.block9__ellipse-1440-right,
.block9__cubic-1440 {
   display: none;
}

//----MEDIA-----------------------------------------------------------------------------------------------------
@media (min-width: 630px) {
   .block9__ellipse-360 {
      display: none;
   }

   .block9__ellipse-630-left,
   .block9__ellipse-630-right {
      display: block;
      position: absolute;
      z-index: -3;
   }

   .block9__ellipse-630-left {
      left: -523px;
      top: 55px;
      width: 820px;
      height: 640px;
      border-radius: 50%;
      background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
      filter: blur(300px);
   }

   .block9__ellipse-630-right {
      right: -236px;
      bottom: -182px;
      width: 874px;
      height: 640px;
      border-radius: 50%;
      background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
      filter: blur(300px);
   }

   .slider-top__body {
      margin-right: 40px;
   }

   .slider-top__title {
      font-size: 32px;
   }

   .slider-top__number {
      top: -7px;
      right: 0;
      font-size: 120px;
   }

   .block9__slider-bottom {
      .slick-slide {
         flex: 0 0 595px;

         img {
            width: 100%;
         }
      }
   }
}

@media (min-width: 1020px) {
   .block9 {
      margin-bottom: 50px;
   }

   .block9__billet {
      margin-bottom: 0;
   }

   .block9__ellipse-630-left,
   .block9__ellipse-630-right {
      display: none;
   }

   .block9__ellipse-1440-left,
   .block9__ellipse-1440-right {
      display: block;
      position: absolute;
      z-index: -3;
      width: 820px;
      height: 640px;
      border-radius: 50%;
      background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
      filter: blur(300px);
   }

   .block9__ellipse-1440-left {
      top: -37px;
      left: -520px;
   }

   .block9__ellipse-1440-right {
      top: -32px;
      right: -206px;
   }

   .block9__cubic-1440 {
      display: block;
      position: absolute;
      top: -48px;
      right: -214px;
      z-index: -7;
      filter: blur(4px);
   }

   .block9__row {
      padding: 0 5%;
      display: flex;
      justify-content: space-between;

      .block9__slider-top {
         flex-direction: column;
         flex: 0 0 40%;

         .slider-top__body {
            position: relative;
            flex: 0 0 590px;
            margin-bottom: 60px;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 60px;

            &:last-of-type {
               margin-bottom: 0;
            }
         }
      }

      .block9__slider-bottom {
         flex: 0 0 55%;
         max-height: 590px;

         .slider-bottom__img {
            position: relative;
            width: 100%;
            height: 100%;
            margin-bottom: 60px;

            &:last-of-type {
               margin-bottom: 0;
            }
         }

         img {
            width: 100%;
            height: 100%;
         }
      }
   }

   .slider-top__title {
      font-size: 40px;
   }

   .slider-top__number {
      top: 35px;
      left: 0;
   }
}

@media (min-width: 1410px) {
   .slider-top__number {
      top: 70px;
   }
}