@import "../extends";

.block6-slider-games{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	margin-bottom: 25px;

	>.slider-games-title{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;

		>div:first-of-type{
			@extend %billet;
			padding: 8px 16px 7px;
			margin-bottom: 20px;
		}

		>p:last-of-type{
			width: 328px;
			font-family: $fontTitles;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 120%;
			font-feature-settings: 'ss05' on;
			color: $mainColor;
		}
	}

	>.slider-games-list{
		width: 100%;

		>.main-slider-list{
			>.fst-slider{
				overflow-x: scroll;
				display: flex;
				justify-content: center;
				position: relative;
				z-index: 2;
				-ms-overflow-style: none;
				margin-bottom: 22px;

				&::-webkit-scrollbar {display: none;}

				.slick-list{
					.slick-track{
						width: 1700px!important;
						display: flex;
						justify-content: space-between;
						margin: 0 5%;

						>.blocks{
							flex: 0 0 288px;

							&:not(:last-of-type){margin-right: 35px;}

							>.fst-slider-image{
								width: 100%;
								position: relative;

								>img{
									width: inherit;
									border-radius: 16px;
								}
							}

							>.fst-slider-description{
								display: flex;
								flex-wrap: wrap;
								width: 100%;
								background: #14063D;
								border-radius: 16px;
								padding: 20px;
								margin-bottom: 25px;

								>p:first-child{
									width: inherit;
									font-family: $fontText;
									font-style: normal;
									font-weight: 700;
									font-size: 20px;
									line-height: 130%;
									font-feature-settings: 'ss05' on;
									color: $mainColor;
									margin-bottom: 5px;
								}

								>span:last-child{
									width: inherit;
									font-family: $fontText;
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 120%;
									font-feature-settings: 'ss05' on;
									color: $mainColor;
									opacity: 0.4;
								}
							}

							>.block-slider{
								display: flex;
								align-items: center;
								flex: 0 0 290px;
								padding-top: 15px;
								border-top: 1px solid rgba(255, 255, 255, 0.2);
								position: relative;

								&::before {
									content: "";
									position: absolute;
									top: -1px;
									left: 0;
									height: 1px;
									width: 0%;
									background-color: rgba(182, 182, 182, 0.74);
									transition: width 6.45s linear /* 0.8s */;
									opacity: 0;
								}
						
								&.active::before {
									width: 100%;
									opacity: 1;
								}

								>.scd-slider-title {
									width: 80%;
			
									>p:first-child{
										font-family: $fontText;
										font-style: normal;
										font-weight: 700;
										font-size: 18px;
										line-height: 120%;
										font-feature-settings: 'ss05' on;
										color: $mainColor;
										margin-bottom: 10px;
									}
			
									>span:last-child{
										font-family: $fontText;
										font-style: normal;
										font-weight: 400;
										font-size: 16px;
										line-height: 120%;
										font-feature-settings: 'ss05' on;
										color: $mainColor;
										opacity: 0.4;
									}
			
									>.scd-slider-ellipse {width: 20%;}
								}
							}
						}
					}
				}
			}

			.slick-dots {
				pointer-events: none;
				display: flex;
				justify-content: center;
				align-items: center;
		  
				li {
					font-size: 0;
					width: 8px;
					height: 8px;
					background-color: rgba(255, 255, 255, 0.2);
					border-radius: 50%;
					transition: all 0.5s ease;
			
					&:not(:last-child) {margin-right: 8px;}
			
					&.slick-active {
						height: 8px;
						background-color: rgb(255, 255, 255);
						width: 24px;
						border-radius: 8px;
					}
				}
		  
				button {font-size: 0;}
			}
		}
	}

	>.block6-purpure__ellipse{
		position: absolute;
		bottom: 0;
		left: -100px;
		z-index: -2;
		width: 357px;
		height: 250px;
		background: #800BF5;
		filter: blur(150px);
	}
}

@media screen and (min-width: 200px){
	.block6-slider-games{
		>.slider-games-title{
			>p:last-of-type{width: 310px;}
		}
	}
}

@media screen and (min-width: 330px){
	.block6-slider-games{
		>.slider-games-title{
			>p:last-of-type{width: 328px;}
		}

		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						.slick-track{
							>.blocks{
								flex: 0 0 310px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 370px){
	.block6-slider-games{
		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						.slick-track{
							>.blocks{
								flex: 0 0 335px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 410px){
	.block6-slider-games{
		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						.slick-track{
							>.blocks{
								flex: 0 0 365px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 470px){
	.block6-slider-games{
		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						.slick-track{
							>.blocks{
								flex: 1;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 600px){
	.block6-slider-games{
		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						padding: 0 10%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 650px){
	.block6-slider-games{
		>.slider-games-title{
			width: 100%;

			>div:first-of-type{
				margin-bottom: 40px;

				>span{font-size: 14px;}
			}
			
			>p:last-of-type{
				font-size: 32px;
				width: inherit;
			}
		}

		>.slider-games-list{
			>.main-slider-list{
				>.fst-slider{
					.slick-list{
						padding: 0 15%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 759px) {
	.block6-slider-games {
		>.slider-games-list {
			>.main-slider-list {
				>.fst-slider {
					padding: 0 5%;
					justify-content: space-between;

					>.blocks {
						flex: 0 0 288px;

						&:not(:last-of-type) {
							margin-right: 35px;
						}

						>.fst-slider-image {
							width: 100%;
							position: relative;

							>img {
								width: inherit;
								border-radius: 16px;
							}
						}

						>.fst-slider-description {
							display: flex;
							flex-wrap: wrap;
							width: 100%;
							background: #14063D;
							border-radius: 16px;
							padding: 20px;
							margin-bottom: 25px;

							>p:first-child {
								width: inherit;
								font-family: $fontText;
								font-style: normal;
								font-weight: 700;
								font-size: 20px;
								line-height: 130%;
								font-feature-settings: 'ss05' on;
								color: $mainColor;
								margin-bottom: 5px;
							}

							>span:last-child {
								width: inherit;
								font-family: $fontText;
								font-style: normal;
								font-weight: 400;
								font-size: 16px;
								line-height: 120%;
								font-feature-settings: 'ss05' on;
								color: $mainColor;
								opacity: 0.4;
							}
						}

						>.block-slider {
							display: flex;
							align-items: center;
							flex: 0 0 290px;
							padding-top: 15px;
							border-top: 1px solid rgba(255, 255, 255, 0.2);
							position: relative;

							&::before {
								content: "";
								position: absolute;
								top: -1px;
								left: 0;
								height: 1px;
								width: 0%;
								background-color: rgba(182, 182, 182, 0.74);
								transition: width 6.45s linear;
								opacity: 0;
							}

							&.active::before {
								width: 100%;
								opacity: 1;
							}

							>.scd-slider-title {
								width: 80%;

								>p:first-child {
									font-family: $fontText;
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 120%;
									font-feature-settings: 'ss05' on;
									color: $mainColor;
									margin-bottom: 10px;
								}

								>span:last-child {
									font-family: $fontText;
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 120%;
									font-feature-settings: 'ss05' on;
									color: $mainColor;
									opacity: 0.4;
								}

								>.scd-slider-ellipse {
									width: 20%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.block6-slider-games {
		>.slider-games-title{
			display: flex;
			flex-direction: row;

			>div:first-of-type{
				margin: 0 14% 40px 0;

				>span{font-size: 14px;}
			}
			
			>p:last-of-type{
				font-size: 32px;
				width: 45%;
			}
		}

		>.slider-games-list {
			>.main-slider-list {
				>.fst-slider {
					padding: 0 5%;
					justify-content: space-between;

					>.blocks {
						flex: 1;
					}
				}
			}
		}
	}
}