@import 'vars';

%buttonMainStyle {
   position: relative;
   border-radius: 56px;
   width: 200px;
   height: 50px;
   background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
   transition: all .6s ease;

   &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      width: 100%;
      height: 52px;
      left: 0px;
      background: linear-gradient(270deg, #800bf5 26.67%, #25c6f9 97.33%);
      border-radius: 56px;
      opacity: 0;
      transition: inherit;
   }

   &:hover::before {
      opacity: 1;
   }

   @media screen and (min-width: 630px) {
      position: relative;
      border-radius: 56px;
      width: 200px;
      height: 50px;
      background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
      transition: all .6s ease;

      &::before {
         content: "";
         display: block;
         position: absolute;
         top: -1px;
         width: 202px;
         height: 52px;
         left: 0px;
         background: linear-gradient(270deg, #800bf5 26.67%, #25c6f9 97.33%);
         border-radius: 56px;
         opacity: 0;
         transition: inherit;
      }

      &:hover::before {
         opacity: 1;
      }
   }
}

//-----ПЛАШКА-----------------------------------------------------------------------------------------
%billet {
   font-family: $fontText;
   font-weight: 700;
   font-size: 12px;
   line-height: 120%;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   opacity: 0.6;
   border: 1px solid rgba(255, 255, 255, 0.6);
   padding: 7px 17px;
   border-radius: 56px;
   display: inline-block;
}

//-------ROUND BUTTON---------------------------------------------------------------------------------------
%roundButton {
   .slick-arrow {
      font-size: 0;
      border: none;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      position: relative;
      background: #29166b;
      transition: all .6s ease;
      cursor: pointer;

      &.disable {
         transition: none;
         background: transparent;
         border: 2px solid #14063D;
         pointer-events: none;
      }

      &:hover {
         background: linear-gradient(0deg, #800BF5 26.67%, #25C6F9 97.33%);
      }

      &::before {
         content: "";
         display: block;
         position: absolute;
         z-index: -2;
         top: -1.4px;
         left: -1.2px;
         width: 57px;
         height: 57px;
         background: linear-gradient(0deg, #800BF5 26.67%, #25C6F9 97.33%);
         border-radius: 50%;
      }

      &.disable {
         &::before {
            background: none;
         }
      }
   }
}

//---SLICK-DOTS-----------------------------------------------------------------------------------------
%slickDots {
   .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
         font-size: 0;
         width: 8px;
         height: 8px;
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 50%;
         transition: all 0.5s ease;

         &:not(:last-child) {
            margin-right: 8px;
         }

         &.slick-active {
            height: 8px;
            background-color: rgb(255, 255, 255);
            width: 24px;
            border-radius: 8px;
         }
      }

      button {
         font-size: 0;
      }
   }
}

%arrowBtn {
   font-size: 0;
   border: none;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   position: relative;
   background: #14063d;
   transition: all .6s ease;
   cursor: pointer;

   &.disable {
      transition: none;
      background: transparent;
      border: 2px solid #14063D;
      pointer-events: none;
   }

   &:hover {
      background: linear-gradient(0deg, #800BF5 26.67%, #25C6F9 97.33%);
   }

   &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      top: -1px;
      left: -1px;
      width: 46px;
      height: 46px;
      background: linear-gradient(0deg, #800bf5 26.67%, #25c6f9 97.33%);
      border-radius: 50%;
   }

   &.disable {
      &::before {
         background: none;
      }
   }
}