@import './extends';

.footer{
	>.footer-content{
		margin-bottom: 0!important;
		padding: 30px 5% 20px;

		>.footer-logo,
		>.navigation, 
		>.contact-info,
		>.support{margin-bottom: 40px;}

		>.navigation{
			>.nav-list{
				font-family: $fontText;
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 120%;
				font-feature-settings: 'ss05' on;
				color: $mainColor;

				>li:not(:last-of-type){margin-bottom: 15px;}

				>li{
					cursor: pointer;
					opacity: 1;
					transition: opacity 200ms ease;
					&:hover{opacity: 0.4;}
				}
			}
		}

		>.contact-info{
			>.email{
				font-family: $fontText;
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 120%;
				font-feature-settings: 'ss05' on;
				color: #49CBF4;
				margin-bottom: 20px;
				
				>span{
					cursor: pointer;
					opacity: 1;
					transition: opacity 200ms ease;
					&:hover{opacity: 0.4;}
				}
			}

			>.number{
				font-family: $fontText;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				font-feature-settings: 'ss05' on;
				color: $mainColor;

				>p:first-of-type{margin-bottom: 8px;}
				>p:last-of-type{opacity: 0.4;}
			}
		}

		>.support{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			>button:first-of-type,
			>button:last-of-type{
				@extend %buttonMainStyle;

				&::before{width: 100%!important;}

				>span{
					position: relative;
					z-index: 2;
				}
			}
			
			>button:first-of-type,
			>.btn-group{
				width: 100%;
				margin-bottom: 17px;
			}

			>.btn-group{
				display: flex;
				justify-content: space-evenly;

				>button{@extend %arrowBtn;}
			}

			>button:last-of-type{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				>div:first-of-type{margin-right: 8px;}

				>div:first-of-type,
				>div:last-of-type{
					>img,
					>span{
						width: 30px;
						position: relative;
						z-index: 2;
					}
				}

				>div:last-of-type{
					text-align: left;

					>span:first-of-type{
						font-size: 9px;
						text-transform: uppercase;
						font-family: $fontText;
						line-height: 120%;
						font-feature-settings: 'ss05' on;
						color: $mainColor;
						font-style: normal;
					}

					>span:last-of-type{
						font-size: 16px;
						font-weight: 500;
						font-family: $fontText;
						line-height: 120%;
						font-feature-settings: 'ss05' on;
						color: $mainColor;
						font-style: normal;
					}
				}
			}
		}

		>.address{
			font-family: $fontText;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			font-feature-settings: 'ss05' on;
			color: $mainColor;
			opacity: 0.4;

			>p:hover{
				cursor: pointer;
				transition: opacity 200ms ease;
				&:hover{opacity: 0.38;}
			}

			>p:not(:last-of-type){margin-bottom: 3px;}
		}
	}
}

@media screen and (min-width: 600px){
	.footer{
		>.footer-content{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			>.contact-info{
				>.email{margin-bottom: 45px;}
			}

			>.support{width: 100%;}
		}
	}
}

@media screen and (min-width: 630px){
	.footer{
		>.footer-content{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			>.support{
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				justify-content: space-between;

				>button:first-of-type,
				>.btn-group{margin-bottom: 0;}

				>.btn-group{width: 35%;}
			}

			>.address{
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

@media screen and (min-width: 680px){
	.footer{
		>.footer-content{
			>.support{width: 100%;}
		}
	}
}

@media screen and (min-width: 1200px){
	.footer{
		>.footer-content{
			display: flex;
			align-items: center;

			>.support{width: auto;}

			>.address{
				display: flex;
				justify-content: space-evenly;
			}
		}
	}
}