//?----IMPORT FONTS-------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


@import 'vars';
@import 'null';
@import 'extends';

//?-----ОБЩИЕ СТИЛИ--------------------------------------------------------------------------------
body {
   background-color: $bgColor;
   margin: 0;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   // Прижимаем footer книзу
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   //>* {
   //   min-width: 0;
   //}
}

.container {
   max-width: 100%;
   //margin: 0 auto;
   padding: 0 5%;
}

body {
   background-color: $bgColor;
}

//?----HEADER-------------------------------------------------------------------------------------
@import 'header';

//?----MAIN / PAGE-------------------------------------------------------------------------------------
@import 'assets/block1';

@import 'assets/block2';

@import 'assets/block3';

@import 'assets/block4';

@import 'assets/block5';

@import 'assets/block6';

@import 'assets/block7';

@import 'assets/block8';

@import 'assets/block9';

@import 'assets/block10';

@import 'assets/block11';

@import 'assets/block12';

//?----FOOTER-------------------------------------------------------------------------------------
@import 'footer';