//?----IMPORT FONTS-------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200,300,400,500,700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400,700&display=swap');

@import 'vars';
@import 'null';
@import 'extends';

//?-----ОБЩИЕ СТИЛИ--------------------------------------------------------------------------------
body {
   background-color: $bgColor;
   margin: 0;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   // Прижимаем footer книзу
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   //>* {
   //   min-width: 0;
   //}
}

.container {
   max-width: 100%;
   //margin: 0 auto;
   padding: 0 5%;
}

//?----HEADER-------------------------------------------------------------------------------------
@import 'header';

//?----MAIN / PAGE-------------------------------------------------------------------------------------
@import './assets/block1.scss';

@import './assets/block2.scss';

@import './assets/block3.scss';

@import './assets/block4.scss';

@import './assets/block5.scss';

@import './assets/block6.scss';

@import './assets/block7.scss';

@import './assets/block8.scss';

@import './assets/block9.scss';

@import './assets/block10.scss';

@import './assets/block11.scss';

@import './assets/block12.scss';

//?----FOOTER-------------------------------------------------------------------------------------
@import 'footer';